/* InfoBox --Start  */
.info-box-container {
  padding: 10px;
}
.info-box {
  background-color: #6555df;
  display: flex;
  flex-wrap: wrap;
  padding: 3% 10%;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  min-height: 40vh;
}

.info-left {
  text-align: center;
  /* padding-right: 40px; */
}

.info-left h3 {
  text-transform: uppercase;
  color: #ffff;
}

.info-left img {
  height: 200px;
  -webkit-filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.5));
}

.info-right {
  color: #322a3c;
  /* padding-left: 40px; */
}

.info-right h2,
h3 {
  text-transform: uppercase;
}
.info-right h2 {
  font-size: 40px;
}
.info-right h3 {
  font-size: 16px;
  font-weight: normal;
}
.info-right button {
  background-color: var(--color-4);
  color: #fff;
  margin-top: 20px;
  transition: all 0.2s ease-in-out;
}

.info-right button:hover {
  background-color: #fff;
  color: var(--color-4);
}

/* .btn {
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  } */
/* InfoBox --End  */
