/* InfoBox --Start  */
.info-box-container {
  padding: 10px;
}
.info-box {
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-color: #6555df;

  display: flex;
  flex-wrap: wrap;
  padding: 3% 10%;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  min-height: 40vh;
}

.info-box p {
  color: #fff;
}

.info-box h3 {
  text-transform: none;
  font-size: 1.5rem;
  margin: 10px auto;
  color: #fff;
}
.info-box h4 {
  text-transform: uppercase;
  color: #fff;
}
.small-txt-info {
  font-size: 10px;
  margin-top: 20px;
}

.info-left img {
  height: 200px;
  -webkit-filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.5));
}

.info-right {
  color: #322a3c;
  /* padding-left: 40px; */
}

.info-right button {
  background-color: var(--color-2);
  color: #fff;
  margin-top: 20px;
  transition: all 0.2s ease-in-out;
}

.btn {
  text-decoration: none;
  margin-top: 10px;
}
/* InfoBox --End  */
