/* Navbar Section Styling -- Start*/

/* Top Nav */
.logo {
  text-decoration: none;
}
.logo-text {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
  color: #fff;
}

.top-nav {
  padding: 12px 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-2);
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;

  position: relative;
}

.search input[type="text"] {
  padding: 12px;
  width: 100%;
  align-items: center;
  border-radius: 6px;
  border: none;
  background-image: url("../../img/search.svg");
  background-position: 8px;
  background-repeat: no-repeat;
  padding-right: 20px;
  padding-left: 40px;
}

input:focus {
  border: none;
  outline: none;
}
.search input::placeholder {
  font-family: inherit;
  font-weight: 300;
}
.search-button {
  padding: 12px 20px;
  position: absolute;
  right: 0;
  border-radius: 0px 6px 6px 0px;
  border: none;
  font-family: inherit;
  background-color: var(--color-1);
  color: #fff;
  cursor: pointer;
}

.icons {
  display: flex;
  color: #ffff;
}
.icon {
  padding: 0px 15px;
}

.cart-icon {
  position: relative;
}
.link {
  color: #fff;
  text-decoration: none;
}

.cart-icon span {
  top: -11px;
  left: 30px;
  position: absolute;
  background-color: #ff1e3c;
  padding: 4px 8px;
  color: #fff;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bold;
}

/* Bottom Nav */

.bottom-nav {
  background-color: var(--color-2);
  margin-top: 10px;
  /* padding: 5px; */
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.nav-link:hover {
  background-color: var(--color-1);
  transition: border 0.1s ease-in 0.1s;
}

.mobile-logo {
  display: none;
}

.float-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-top: 3px solid var(--color-1);
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 3000;
  height: 50px;
  display: none;
}

/* Responsive Nav */
@media (max-width: 760px) {
  .bottom-nav {
    display: none;
  }
  .mobile-logo {
    display: block;
    color: var(--color-2);
  }
  .desktop-logo {
    display: none;
  }
  .icons {
    display: none;
  }

  .search input {
    width: 100%;
  }

  .float-nav {
    display: flex;
  }
}
/* Navbar Styling ---END */
