.features {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  text-align: center;
  grid-gap: 20px;
  padding: 20px;
  background-color: #ffff;
  border-radius: 6px;
  margin: 20px auto;
}

.feature-icon {
  height: 30px;
  width: 30px;
  margin-bottom: 10px;
}

.feature p {
  font-size: 15px;
}
