/* Product List-- Start */
.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10%;
  align-items: center;
  /* margin: 40px auto; */
}
/* Product List-- End */
