

:root{
    --primary-color:#D83F87;
    --color-1:#2A1B3D;
    --color-2:#44318D;
    --color-3:#E98074;
    --color-4:#ea400f;
    --white:#A4B3B6; 
    --black:
}

/* Navbar Section Styling -- Start*/


/* Top Nav */
.logo a{
    text-decoration: none;
}
.logo h1{
    font-style: italic;
    color: var(--color-1);
}

.top-nav{
    padding: 0px 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px ;
}


.search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    
}

.search input[type=text]{
    height: 40px;
    width: 50%;
    align-items: center;
    border-radius: 6px;
    border: 3px solid #2A1B3D;
    background-image: url('../img/search.svg');
    background-position: 5px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

input:focus{
    border-radius: 6px;
    border: 3px solid #2A1B3D;
    
    
}
input::placeholder{
    font-family: inherit;
    font-weight: 600;
    
}


.icons{
    display: flex;
    
}
.icon{
    padding: 0px 15px;
}

.cart-icon{
    position: relative;
}

.cart-icon span{
    top: -11px;
    left: 30px;
    position: absolute;
    background-color: #ff1e3c;
    padding: 4px 8px;
    color: #fff;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
}

/* Bottom Nav */

.bottom-nav{
    background-color: var(--color-1);
    margin-top: 10px;
    padding: 10px;
    
}


.nav-links{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    
}

.nav-links a{
    color: #fff;
    text-decoration: none;
    padding: 15px;
}

.nav-links a:hover{
    padding-bottom: 7px;
    border-bottom:4px solid #ffffff;
    transition: border .1s ease-in .1s;
}



/* Navbar Styling ---END */

/* Slider Start */

.slider-img{
    cursor: pointer;
}
/* Slider End */
/* Single Product --Start */

.product-image img{
    width: 250px;
    border-radius: 6px 6px 0 0;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.product-image img:hover{
    transform: scale(1.1);
    
}



.product-single{
    background-color: var(--color-1);
    color: #fff;
    border-radius: 6px;
    width: 250px;
    margin: 20px ;
    position: relative;
    
}




.fav-heart{
   
   position: absolute;
   top: 10px;
   right: 6px;
   
}

.link-share{
    position: absolute;
    top: 60px;
    right: 6px;
}

.round-icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #fff;
    padding: 6px;
    cursor: pointer;
    color: var(--color-1);
    
}

.round-icon:hover{
    background-color: var(--color-4);
    color: #fff;
}


.product-info{
    display: flex;
    justify-content: space-between;
    margin: 10px 15px;
}


.add-cart{
    /* border-left: 2px solid var(--color-1); */
    /* padding-left: 10px; */
    margin-top: 15px;
    cursor: pointer;
    vertical-align: center;
}

.vertical-rod{
    height: 50px;
    width: 1px;
    background-color: #fff;
}


/* Single Product --End */



/* Product List-- Start */
.product-list{
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    /* margin: 40px auto; */
}
/* Product List-- End */


/* InfoBox --Start  */
.info-box{
    height: 50vh;
    background-image: linear-gradient(#321a92ad, #1d063bd0 ), url("../img/world.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 3% 10%;
    justify-content: space-between;
    align-items: center;
}

.info-left{
    text-align: center;
}

.info-left h3{
    text-transform: uppercase;
    color: #ffff;
}

.info-left h2{
    font-size: 100px;
    color: #fff;
    font-weight: 600;
}


.info-right{
    color: #fff;
}

.info-right h2, h3{
    text-transform: uppercase;
}
.info-right h2{
    font-size: 40px;
}
.info-right h3{
    font-size: 16px;
    font-weight: normal;
}
.info-right button{
    background-color: var(--color-4);
    color: #fff;
    margin-top: 20px;
    transition: all .2s ease-in-out;

}

.info-right button:hover{
    background-color: #fff;
    color: var(--color-4);
}


.btn{
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
/* InfoBox --End  */

/* Footer --Start */
.footer{
    display: flex;
    padding: 10px 10%;
}

.left-footer{

}

.payment-method{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.payment-method img{
    height: 60px;
}
/* Footer --End */