:root {
  --primary-color: #d83f87;
  --color-1: #2a1b3d;
  --color-2: #44318d;
  --color-3: #e98074;
  --color-4: #ea400f;
  --white: #a4b3b6;
  --black: ;
}

/* Navbar Section Styling -- Start*/

/* Top Nav */
.logo {
  text-decoration: none;
}
.logo-text {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
  color: var(--color-1);
}

.top-nav {
  padding: 0px 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.search input[type="text"] {
  height: 40px;
  width: 50%;
  align-items: center;
  border-radius: 6px;
  border: 3px solid #2a1b3d;
  background-image: url("../img/search.svg");
  background-position: 5px;
  background-repeat: no-repeat;
  padding-left: 40px;
}

input:focus {
  border-radius: 6px;
  border: 3px solid #2a1b3d;
}
input::placeholder {
  font-family: inherit;
  font-weight: 600;
}

.icons {
  display: flex;
}
.icon {
  padding: 0px 15px;
}

.cart-icon {
  position: relative;
}

.cart-icon span {
  top: -11px;
  left: 30px;
  position: absolute;
  background-color: #ff1e3c;
  padding: 4px 8px;
  color: #fff;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bold;
}

/* Bottom Nav */

.bottom-nav {
  background-color: var(--color-1);
  margin-top: 10px;
  padding: 5px;
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 15px;
}

.nav-links a:hover {
  padding-bottom: 7px;
  border-bottom: 4px solid #ffffff;
  transition: border 0.1s ease-in 0.1s;
}

/* Navbar Styling ---END */

/* Slider Start */
.heroWrapper {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.arrow {
  width: 50px;
  height: 50px;
  color: #fff;
  background: var(--color-4);
  cursor: pointer;
  border-radius: 50px;
  padding: 10px;
  margin-right: 10px;
  user-select: none;
  transition: all 0.4s;
}
.arrow:hover {
  background-color: var(--color-1);
}
.sliderButtons {
  position: absolute;
  bottom: 50px;
  right: 50px;
  display: flex;
  z-index: 10;
}

.heroSlide {
  z-index: 1;
  width: 100%;
  height: 100%;
}

.heroImage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.heroSlider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
}

.heroSlider::before {
  content: "  ";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  bottom: 0vh;
  left: 0;
  overflow: hidden;
  /* opacity: 0.4; */
  /* background: linear-gradient(to right, rgb(0, 0, 0), rgba(255, 0, 191, 0.103));
   */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.596) 37%,
    rgba(67, 49, 141, 0.137) 100%
  );
}
.heroContent {
  position: relative;
  z-index: 20;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  color: #fff;
  padding: 0 5%;
  transition: 3000 ease;
}

.heroContent h1 {
  display: inline-block;
  font-weight: 700;
  font-size: 3rem;
  text-shadow: 0, 0, 0, 20px rgba(0, 0, 0, 0.4);
  margin: 0 0 18px;
}

.heroContent p {
  margin: 0 0 18px;
  font-size: 1.5rem;
}

/* Btn Global */
.btn {
  font-size: 12px;
  display: inline-block;
  padding: 20px 15px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.1em;
  border-radius: 5px;
  box-sizing: border-box;
  line-height: 100%;
  border: none;
  outline: 0;
  color: #fff;
  background-color: var(--color-4);
}

/* Set width of the slider button */
.btn-hero {
  width: 25%;
}
.btn-hero:hover {
  filter: drop-shadow(0 8px 24px rgba(33, 38, 46, 0.25));
}
/* Slider End */
/* Single Product --Start */

.product-image img {
  height: 300px;
  width: 250px;
  border-radius: 6px 6px 0 0;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  /* margin-bottom: 0.8rem; */
}
.product-image {
  overflow: clip;
  border-radius: 6px;
  object-fit: cover;
}
.product-image img {
  height: 100%;
  width: 100%;
}

.product-image img:hover {
  transform: scale(1.05);
}

.product-single {
  /* background-color: var(--color-1); */
  /* color: #fff; */
  border-radius: 6px;
  width: 250px;

  margin: 20px;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.fav-heart {
  position: absolute;
  top: 10px;
  right: 6px;
}

.link-share {
  position: absolute;
  top: 60px;
  right: 6px;
}

.round-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #fff;
  padding: 6px;
  cursor: pointer;
  color: var(--color-1);
}

.round-icon:hover {
  background-color: var(--color-4);
  color: #fff;
}

.product-info {
  padding: 15px;
  min-height: 130px;
}
.link {
  text-decoration: none;
}
.add-cart {
  /* border-left: 2px solid var(--color-1); */
  /* padding-left: 10px; */
  margin-top: 15px;
  cursor: pointer;
  vertical-align: center;
}

.product-info h5 {
  font-weight: 500;
  font-size: 1.2em;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}

.product-info h4 {
  color: #222;
}

.category-card {
  padding: 4px;
  background-color: var(--primary-color);
  font-size: 10px;
  margin-right: 4px;
  color: #fff;
  border-radius: 3px;
}

.cat-cards {
  margin-bottom: 10px;
}
/* .vertical-rod {
  height: 50px;
  width: 1px;
  background-color: #fff;
} */

/* Single Product --End */

/* Product List-- Start */
.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10%;
  align-items: center;
  /* margin: 40px auto; */
}
/* Product List-- End */

/* InfoBox --Start  */
.info-box {
  min-height: 50vh;
  background-image: linear-gradient(#321a92ad, #1d063bd0),
    url("../img/world.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  padding: 3% 10%;
  justify-content: center;
  align-items: center;
}

.info-left {
  text-align: center;
  padding-right: 40px;
}

.info-left h3 {
  text-transform: uppercase;
  color: #ffff;
}

.info-left h2 {
  font-size: 100px;
  color: #fff;
  font-weight: 600;
}

.info-right {
  color: #fff;
  padding-left: 40px;
}

.info-right h2,
h3 {
  text-transform: uppercase;
}
.info-right h2 {
  font-size: 40px;
}
.info-right h3 {
  font-size: 16px;
  font-weight: normal;
}
.info-right button {
  background-color: var(--color-4);
  color: #fff;
  margin-top: 20px;
  transition: all 0.2s ease-in-out;
}

.info-right button:hover {
  background-color: #fff;
  color: var(--color-4);
}

/* .btn {
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
} */
/* InfoBox --End  */

/* Footer --Start */
.footer-top {
  display: flex;
  padding: 2% 10%;
  justify-content: space-between;
  background-color: var(--color-1);
}

.footer-top p {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}

.newsletter input {
  padding: 12px;
  border-radius: 6px;
  background-image: url("../img/mail.svg");
  background-position: 5px;
  background-repeat: no-repeat;
  padding-left: 40px;
  margin: auto 10px;
}

.newsletter input:focus {
  border: none;
}

.payment-method {
  display: flex;
  justify-content: space-between;
}
.payment-method img {
  height: 40px;
  margin: 10px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  color: #fff;
  cursor: pointer;
}

.social-icon {
  margin: 10px;
}

/* Footer middle */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 2% 10%;
}
.footer-bottom ul {
  list-style: none;
}
.footer-bottom a {
  color: var(--color-1);
}

/* Footer copyright */
.copyright {
  background-color: var(--color-1);
  color: #fff;
  text-align: center;
  padding: 15px;
}
/* Footer --End */

/* Cart Item CSS Start */
.cart-item {
  display: flex;
}
.item-image img {
  height: 200px;
}
.top-items {
  display: flex;
  justify-content: space-between;
}

.bottom-items {
  display: flex;
  justify-content: space-between;
}

.plus-minus {
  display: flex;
}
/* Cart Item CSS End */
