

:root{
    --primary-color:#D83F87;
    --color-1:#2A1B3D;
    --color-2:#44318D;
    --color-3:#E98074;
    --white:#A4B3B6; 
    --black:
}

/* Navbar Section Styling -- Start*/


/* Top Nav */
.logo a{
    text-decoration: none;
}
.logo h1{
    font-style: italic;
    color: var(--color-1);
}

.top-nav{
    padding: 0px 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px ;
}





.search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    
}

.search input[type=text]{
    height: 40px;
    width: 50%;
    align-items: center;
    border-radius: 6px;
    border: 3px solid #2A1B3D;
    background-image: url('../img/search.svg');
    background-position: 5px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

input:focus{
    border-radius: 6px;
    border: 3px solid #2A1B3D;
    
    
}
input::placeholder{
    font-family: inherit;
    font-weight: 600;
    
}


.icons{
    display: flex;
    
}
.icon{
    padding: 0px 15px;
}

.cart-icon{
    position: relative;
}

.cart-icon span{
    top: -11px;
    left: 30px;
    position: absolute;
    background-color: #ff1e3c;
    padding: 4px 8px;
    color: #fff;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
}

/* Bottom Nav */

.bottom-nav{
    background-color: var(--color-3);
    margin-top: 10px;
    padding: 10px;
}


.nav-links{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    
}

.nav-links a{
    color: #222;
    text-decoration: none;
    padding: 15px;
}

.nav-links a:hover{
    padding-bottom: 7px;
    border-bottom:4px solid #2A1B3D;
    transition: border .1s ease-in .1s;
}



/* Navbar Styling ---END */

/* Slider */

