@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-1: #fd9827;
  --color-2: #131921;
  --color-4: #e98074;
  --color-3: #007f0d;
  --white: #a4b3b6;
}

/* Btn Global */
.btn {
  font-size: 12px;
  display: inline-block;
  padding: 15px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.1em;
  border-radius: 5px;
  box-sizing: border-box;
  line-height: 100%;
  border: none;
  outline: 0;
  color: #fff;
  background-color: var(--color-2);
}

.btn:hover {
  background-color: var(--color-1);
  color: var(--color-2);
}
/* End-- Btn Global */

/* Scrollbar Customization */

/* For Chromium Browsers */
::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background-color: var(--color-2);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-1);
  border: 0.25em solid var(--color-2);
  border-radius: 100vw;
}

/* For Firefox */
@supports (
  scrollbar-color: var(--color-1),
  var(
    --color-2,
  )
) {
  * {
    scrollbar-color: var(--color-1) var(--color-2);
  }
}

/* END --Scrollbat Customization */

/* Text Selection Customization */
::selection {
  background: var(--color-2);
  color: #fafafa;
}
/*End-- Text Selection Customization */
