.info-container {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  width: 100%;
  grid-gap: 2rem;
  overflow: hidden;
  box-sizing: border-box;
  padding: 2% 5%;
}
/* div {
  border: 1px solid red;
} */

.product-title {
  color: #262626;
  font-size: 2rem;
  margin-bottom: 10px;
}
.product-description {
  color: #262626;

  margin-bottom: 10px;
}
.product-price {
  color: #262626;
  font-size: 2em;
  margin-bottom: 20px;
}

.right-container {
  background-color: #fafafa;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.left-container {
  background-color: #fafafa;
  border-radius: 12px;
  overflow: hidden;
  height: 80vh;
  display: flex;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.left-container img {
  object-fit: cover;
  object-position: center;
  min-width: 100%;
  min-height: 100%;
}

.product-amount {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.amount-btn {
  border: 1px solid var(--color-4);
  background-color: #ffff;
  color: var(--color-4);
  font-size: 20px;
}

.amount-counter {
  padding: 0 10px;
}

.icon-minus,
.icon-plus {
  color: var(--color-2);
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.add-btn {
  background-color: var(--color-1);
  color: var(--color-2);
  margin-right: 20px;
  padding: 15px 30px;
}

.buy-btn:hover {
  background-color: var(--color-2);
  color: #fafafa;
}

.add-cart-icon {
  height: 15px;
  width: 15px;
}

.star-ratings-reviews {
  display: flex;
  margin: 20px 0;
}

.active-star {
  fill: var(--color-1);
}
.star-icon {
  height: 20px;
  width: 20px;
  color: var(--color-1);
}
.star {
  margin-right: 20px;
}
.star-ratings-reviews p {
  color: var(--color-2);
}

@media (max-width: 896px) {
  .info-container {
    display: flex;
    flex-direction: column;
  }
}
