.error-page-container {
  display: grid;
  place-content: center;
  height: 90vh;
}

.error-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-page-content h1 {
  font-size: 8em;
  margin: 20px;

  background: -webkit-linear-gradient(#333, var(--color-2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.error-page-content h2 {
  margin: 20px;
}
