.sign-in-container {
  display: grid;
  place-items: center;
  height: 86vh;
  background-color: tomato;
}

.sign-up-form {
  background-color: rgb(255, 255, 255);
  max-width: 500px;
  display: grid;
  place-items: center;
  padding: 20px 30px;
  /* border-radius: 6px; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.sign-title {
  text-transform: none;
  padding-bottom: 20px;
}
.or-bar {
  padding: 10px;
  display: flex;
}

.line {
  height: 1px;

  background-color: rgb(48, 48, 48);
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.form-items {
  margin-bottom: 10px;
  /* padding-bottom: 20px; */
  position: relative;
  width: 100%;
}

.form-items input {
  border: 2px solid #cccbcb;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
}

.form-items input:focus {
  outline: 0;
  border-color: #777;
}

.form-items.sucess input {
  border-color: green;
}
.form-items.error input {
  border-color: red;
}

.form-items small {
  visibility: hidden;
}
.form-items label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.signup-btn {
  /* display: block; */
  width: 100%;
  padding: 10px;
}
.google-login {
  width: 100%;
}
.google-btn {
  background-color: transparent;
  border: 1px solid var(--color-4);
  width: 100%;
  justify-content: center;
  color: black;
  padding: 10px;
}

form h5 {
  padding-top: 15px;
}
